@page {
  margin: 1cm;
  size: Letter;
}
body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
.title,
.subtitle {
  text-align: center;
}

code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
span.underline {
  text-decoration: underline;
}
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
q {
  quotes: "“" "”" "‘" "’";
}

@media print {
  html {
    color: black;
    /* color: device-cmyk(35%, 60%, 60%, 100%); */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #20435c;
    /* color: device-cmyk(65%, 27%, 0%, 64%); */
  }
  code,
  kbd,
  listing,
  plaintext,
  pre,
  samp,
  tt,
  xmp {
    font-family: monospace;
  }
  p {
    line-height: 1.4;
  }
  blockquote,
  table {
    margin: 0.8em 0;
    width: 100%;
  }
  table {
    border: 1pt solid rgb(204, 204, 204);
    border-right: 0;
    border-left: 0;
    border-collapse: collapse;
    page-break-inside: avoid;
  }
  tbody tr:nth-child(even) {
    background: rgb(240, 240, 240);
  }
  th,
  tr {
    border-bottom: 0.5pt solid rgb(204, 204, 204);
  }
  .header > th {
    text-align: center;
  }
  a:link {
    text-decoration: none;
    color: #377063;
    /* color: device-cmyk(51%, 0%, 12%, 56%); */
  }
  a {
    white-space: nowrap;
  }
  caption,
  p.caption {
    text-align: center;
    font-weight: bolder;
  }
  p.caption {
    page-break-before: avoid;
  }
}
